/*#full-page {
    background-color: rgb(158, 148, 148);
    width: 1521px;
    height: 680px;
}*/

.btn-div {
    margin-right: 20px;
    width: 90px;
    border: 2px black solid;
    border-radius: 20%;
    margin-top: 20px;
}

.btn-div:hover {
    color: #000000;
    transform: scale(1.25);
    transition: 0.5s;
}

.btn1-div {
    margin-right: 10px;
    width: 180px;
    border: 1px black solid;
    border-radius: 0%;
    background-color: rgb(88, 217, 252);
    
}

#sign-upid {
    display: none;
    background-color: white;
    width: 400px;
    height: 580px;
    margin-left: 14%;
    margin-top: 5%;
    border: 5px black double;
    border-radius: 5%;
}

.blur {
    filter: blur(6px);
    transition: all 0.3s ease-in-out;
}


#title-div {
    width: 100%;
    height: 30px;
    background-color: aqua;
    color: black;
}

#selUType {
    margin-top: 20px;
}

#sign-upid1 {
    display: none;
    background-color: white;
    width: 400px;
    height: 580px;
    margin-left: 14%;
    margin-top: 5%;
    border: 5px black double;
    border-radius: 5%;
}

#aa {
    text-decoration: none;
    color: black;
}

.bordered-box {
    border: 1px solid #000000;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.form-control,
.btn,
.form-label {
    margin-bottom: 10px;
}

.btn-custom {
    background-color: #e6c9de;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
}

.btn-search {
    background-color: #f8cdd0;
    border: none;
}

.input-group-text {
    background-color: #f8cdd0;
}


.ctn-div {
    background-color: gold;
    width: 300px;
    height: 300px;
    margin-top: 12.5%;
    margin-left: 200px;
    border: 2px black solid;
}

#pic-div {
    width: 50%;
    margin-left: 68px;
    margin-top: 20px;
    border: 2px black solid;
    border-radius: 50%;
}

#bb {
    margin-left: 68px;
    margin-top: 30px;
    text-decoration: none;
    border-radius: 15%;
}

#card1 {
    border: 2px black solid;
    background-color: gold;
    height: 260px;
    float: left;
    margin-top: 15%;
    margin-left: 125px;
}

.piccard1 {
    border-radius: 50%;
    border: 2px black solid;
    height: 150px;
    width: 220px;
    background-size: contain;
}

#card2 {
    border: 2px black solid;
    background-color: gold;
    height: 260px;
    float: left;
    margin-top: 15%;
    margin-left: 125px;
}

#card3 {
    border: 2px black solid;
    background-color: gold;
    height: 260px;
    float: left;
    margin-top: 15%;
    margin-left: 125px;
}

#card4 {
    border: 2px black solid;
    background-color: gold;
    height: 260px;
    float: left;
    margin-top: 15%;
    margin-left: 125px;
}

.btnplayer {
    margin-top: 20px;
    margin-left: 90px;
}

#card5 {
    border: 2px black solid;
    background-color: gold;
    height: 260px;
    float: left;
    margin-top: 15%;
    margin-left: 170px;
}

#card6 {
    border: 2px black solid;
    background-color: gold;
    height: 260px;
    float: left;
    margin-top: 15%;
    margin-left: 170px;
}

#card7 {
    border: 2px black solid;
    background-color: gold;
    height: 260px;
    float: left;
    margin-top: 15%;
    margin-left: 170px;
}

.modal {
    overflow-y: auto;
}

#card8 {
    border: 2px black solid;
    background-color: gold;
    height: 260px;
    float: left;
    margin-top: 15%;
    margin-left: 185px;
}

#card9 {
    border: 2px black solid;
    background-color: gold;
    height: 260px;
    float: left;
    margin-top: 15%;
    margin-left: 185px;
}

#card10 {
    border: 2px black solid;
    background-color: gold;
    height: 260px;
    float: left;
    margin-top: 15%;
    margin-left: 185px;
}

.titlebar {
    height: 50px;
    background-color: aqua;
}

.webdiv {
    float: left;
    margin-left: 20px;
    margin-right: 24%;
    margin-top: 10px;
    font-weight: bolder;
    font-size: 18px;
}

#logoset {
    background-size: contain;
    width: 100px;
    height: 60px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 20%;
}

/*#logoset:hover{
    cursor: pointer;
    transform: scale(1.3);
}*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    margin-bottom: 0px;
}

.navbar .logo img {
    height: 50px;
    margin-left: 5px;
    float: left;
    border-radius: 30%;
    width: 80px;
}

.webapp-name {
    font-size: 24px;
    font-weight: bold;
}

.nav-buttons button {
    margin-left: 10px;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
}

#index-pic {
    max-height: 300px;
    background-size: cover;
}

#index-pic1 {
    height: 100%;
    object-fit: contain;
}
#backToTopBtn {
    position:fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    z-index: 9999;
}

#backToTopBtn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
